/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GLOBAL */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #f4f7fb;
  color: #1a1a1a;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}